.first {
    margin-top: 59px;
    @media (max-width: 992px) {
        margin-top: 32px;
    }
    &__promo {
        position: relative;
        justify-content: space-between;
    }
    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 66vw;
        @media (max-width: 1170px) {
            top: 64px;
            width: 54vw;
            min-width: 416px;
        }
        @media (max-width: 768px) {
            top: 40px;
            width: 72vw;
            min-width: 260px;
        }
    }
    &__list {
        margin-top: 56px;
        list-style-type: none;
        @media (max-width: 992px) {
            margin-top: 24px;
        }
        @media (max-width: 768px) {
            margin-top: 170px;
        }
        &-item {
            display: flex;
            position: relative;
            align-items: center;
            width: 290px;
            height: 44px;
            padding-left: 24px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: $text-black;
            margin-bottom: 16px;
            @media (max-width: 1170px) {
                font-size: 16px;
                width: 224px;
                height: 40px;
                margin-bottom: 8px;
            }
            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 18px;
                width: 156px;
                height: 34px;
                margin-bottom: 16px;
            }
            &::before {
                content: '';
                height: 8px;
                width: 8px;
                position: absolute;
                background-color: $brand-yellow;
                left: 0;
                top: 22px;
                transform: translateY(-50%);
                transition: 0.2s all;
                @media (max-width: 1170px) {
                    top: 20px;;
                }
                @media (max-width: 768px) {
                    top: 17px;
                }
            }
            &:hover {
                background-color: $brand-purple;
                transition: 0.2s all;
                color: #fff;
                text-decoration: none;
                &::before {
                    content: '';
                    height: 44px;
                    width: 8px;
                    position: absolute;
                    background-color: $brand-orange;
                    left: 0;
                    transition: 0.2s all;
                    @media (max-width: 1170px) {
                        height: 40px;
                    }
                    @media (max-width: 768px) {
                        height: 34px;
                    }
                }
            }

            
            
        }
    }
    &__wrapper {
        margin-top: 219px;
        @media(max-width: 1170px) {
            margin-top: 124px;
        }
        @media(max-width: 768px) {
            margin-top: 31px;
        }
    }
    &__text {
        padding-left: 32px;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $text-black;
        position: relative;
        @media(max-width: 992px) {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }
        &::before {
            content: '';
            height: 100%;
            width: 8px;
            position: absolute;
            background-color: $brand-orange;
            left: 15px;
        }
        
    }
    &__label {
        height: 108px;
        background-color: $brand-purple;
        position: relative;
        text-align: center;
        padding-right: 36px;
        padding-left: 0;
        @media(max-width: 992px) {
            height: 48px;
        }
        @media(max-width: 768px) {
            height: 48px;
        }
        &::before{
            content: '';
            height: 36px;
            width: 36px;
            background-color: $brand-yellow;
            position: absolute;
            top: 0;
            right: 0;
            @media(max-width: 992px) {
                height: 16px;
                width: 16px;
            }
        }
        &::after{
            content: '';
            height: 36px;
            width: 36px;
            background-color: $brand-orange;
            position: absolute;
            top: 36px;
            right: 0;
            @media(max-width: 992px) {
                height: 16px;
                width: 16px;
                top: 16px;
            }
        }

    }
}