.footer {
    margin-top: 72px;
    @media (max-width: 991px) {
        margin-top: 56px;
    }
    &__list {
        list-style-type: none;
        &-item {
            &:not(:first-of-type) {
                margin-top: 51px;
            }
        }
    }
    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $brand-black;
        &:hover {
            color: $brand-black;
        }
    }
    &__icon {
        margin-right: 8px;
    }
    &__bottom {
        margin-top: 88px;
    }
    &__social-link {
        
    }
}