.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-transform: uppercase;
    color: $text-black;
    @media (max-width: 1170px) {
        font-size: 32px;
        line-height: 40px;
    }
    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 32px;
    }
    &_label {
        margin: 0;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: $brand-graylight;
        @media (max-width: 992px) {
            font-size: 14px;
        }
    }
    &_partner {
        color: $brand-black;
        margin-bottom: 40px;
        @media (max-width: 992px) {
            margin-bottom: 24px;
        }
    }
    &_advantage {
        color: $brand-orange;
    }
    &_small {
        @media (max-width: 767px) {
            width: 206px;
        }
    }
    &_logo {
        width: 123px;
        height: 60px;
        margin-top: 36px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $brand-black;
    }
    &_footer {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $brand-black;
        text-transform: uppercase;
    }
    
}
